<div class="bg-white shadow rounded">
  <h1 class="font-bold text-4xl">Expense</h1>
  <p>Upload Expense</p>
  <p><%=@tour.name %>
  <p><%=@tour.start_date %></p>
  <p><%=@tour.finish_date %></p>
  <p><%=@tour.budget %></p>

  <p><%=@expenses.date %></p>
  <p><%=@expenses.city %></p>
  <p><%=@expenses.cost %></p>
  <p><%=@expenses.category %></p>

  <%= form_with(model: @expense, local: true) do |f| %>
    <%= f.label :date %>
    <%= f.date_field :date %>

    <%= f.label :city %>
    <%= f.text_field :city %>

    <%= f.label :cost %>
    <%= f.number_field :cost %>

    <%= f.label :state %>
    <%= f.text_field :state %>     

    <%= f.label :category %>
    <%= f.text_field :category %>   

    <%= f.label :tour_id %>
    <%= f.number_field :tour_id, value: 1 %>   

    <%= f.submit "Create" %>

    <%= f.file_field :file %>
    <%= f.button 'Upload CSV' %>



    
  <% end %>





</div>
