<div class="col-auto border">
    <div class="row-auto space-x-50 space-y-50" >
        <div class="bg-white shadow drop-shadow-lg">
            <div style="margin: 10px 10px 10px 15px;">

                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
                    <%= content_tag(:div, tour.name, class: 'attribute') %>
                </h5>
                 <div class="font-medium">Start Date</div><div><%=tour.start_date%></div>
                 <div class="font-medium">End Date</div><div><%=tour&.finish_date%></div>
                 <div class="font-medium">Budget</div><div><%=number_to_currency(tour.budget,  :unit => "$", :separator => ".", :delimiter => ",") %></div>
                 <div class="font-medium">Total cost:</div><div><%=number_to_currency(tour.total_cost,  :unit => "$", :separator => ".", :delimiter => ",") %></div>
                
            
                
                <div>

                     <%= link_to "Analyse", data_viz_path(tour), style: "text-blue-300;" %>

                     <% if tour.expenses.length > 0 %>
                        <%= link_to "See expenses", tour_expenses_path(tour), style: "color: blue;" %>
                    <% else %>
                        <%= link_to "Add expenses", expenses_import_path(tour), style: "color: blue;" %>
                    <% end %>
                    <%= link_to "Delete", tour_delete_path(tour), data: { "turbo-method": :delete }, style: "color: red;" %>

                </div>
            </div>
        </div>
    </div>
</div>
