<!DOCTYPE html>
<html>
  <head>
    <title>Hothack</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <div class="navbar">
        <% if user_signed_in? %>
          <div>
              <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
          </div>
          <div>Placeholder for other links</div>
        <% else %>
          <div>
              <%= button_to "Sign in", new_user_session_path %>
          </div>
        <% end %>
      </div>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </main>
  </body>
</html>
